<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NutriBot</title>
    <link rel="stylesheet" href="../static/infoStyle.css">
</head>
<body>
    <section class="header">
        <nav>
            <a href="../landing-page.html"><img src="../static\NutriBotLogo.png"></a>
            <div class="nav-links">
                <ul>
                    <li><a href="profile.html">PROFILE</a></li>
                    <li><a href="info.html">INFO</a></li>
                    <li><a href="login.html">LOG IN</a></li>
                    <li><a href="createAccount.html">SIGN UP</a></li>
                </ul>
            </div>
        </nav>
    <hr>
    </section>

</body>
</html>