<!DOCTYPE html>
<html lang="en">
<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="styles/welcomeStyle.css">
</head>
<body> 
    <section class="header">
        <nav>
            <a href="landing-page.html"><img src="img/NutriBotLogo.png"></a>
            <div class="nav-links">
                <ul>
                    <li><a href="profile.html">PROFILE</a></li>
                    <li><a href="scanner.html">SCAN</a></li>
                    <li><a href="http://localhost:3000/login.html">LOG IN</a></li>
                    <li><a href="http://localhost:3000/createAccount.html">SIGN UP</a></li>
                </ul>
            </div>
        </nav>
        <hr>
        <div class="text-box">
            <h1>Welcome to NutriBot</h1>
            <p>
                Empower your health journey with our online calorie tracker and nutritional informer, streamlining your path for being informed about what you eat
            </p>
            <a href="scanner.html" class="hero-btn">Start Scanning Here</a>
        </div>
    </section>
<!--About us-->

<!-- <section class="Creators"> 
    <h1>About the Creators</h1>
    <p>Test text.</p>

    <div class="row">
        <div class="creator-col">
            <h3>Eduardo Castro Becerra</h3>
            <p>https://www.linkedin.com/in/eduardo-castro-becerra-407145227/</p>
        </div>
        <div class="creator-col">
            <h3>Bryan Martinez Ramirez</h3>
            <p>About Bryan.</p>
        </div>
    </div>
</section> -->
</body>