<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Broadway&display=swap"
    />
    <meta charset="utf-8" />
    <title>Scanner</title>
    <link rel="stylesheet" href="styles/scannerStyle.css" />
  </head>

  <body>
    <section class="header">
      <nav>
        <a href="landing-page.html"><img src="img/NutriBotLogo.png" /></a>
        <div class="nav-links">
          <ul>
            <li><a href="profile.html">PROFILE</a></li>
            <li><a href="scanner.html">SCAN</a></li>
            <li><a href="login.html">LOG IN</a></li>
            <li><a href="createAccount.html">SIGN UP</a></li>
          </ul>
        </div>
      </nav>
      <hr />
    </section>

    <!-- Original container -->
    <div class="container translate-container">
      <div class="text-box">
        <h1 style="font-family: 'Broadway', sans-serif">SCANNER</h1>
        <p style="font-family: 'Broadway', sans-serif">
          Upload a file to start dominating your health.
        </p>
        <input type="file" id="fileInput" style="display: none;" />
        <button
          class="scanner__button"
          id="button"
          onclick="document.getElementById('fileInput').click()"
        >
          Upload
        </button>
        <input
          type="text"
          id="barcodeInput"
          placeholder="Enter barcode"
        />
        <button class="scanner__button" id="button" onclick="translateContainer()">Upload</button>
        <section id="uploaded-images"></section>
      </div>
    </div>

    <!-- New data container -->
    <div class="data-container">
      <div class="nutrient-buttons" id="nutrientButtons"></div>
      <div class="nutrient-data">
        <ul class="data-list" id="nutrientsList"></ul>
      </div>
    </div>

    <script src="scripts/scanner.js"></script>
  </body>
</html>
